.Weather {
  text-align: center;
}
li {
  list-style-type: none;
}

.weather-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.weather-info-container .temp-current,
.weather-info-container .unit,
.weather-info-container .weather-icon {
  margin: 0 5px;
}
.weather-icon {
  margin: 0 auto;
}
.temp-current {
  font-size: 45px;
  color: #000;
}
.unit {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.28;
  margin-left: -18px;
  opacity: 0.5;
}
.details-table {
  font-size: 12px;
  color: var(--text-color);
}

/*Forecast*/

.ForecastDay .forecast-temp-min {
  opacity: 60%;
}
.scroll {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
.day-card {
  display: inline-block;
  padding: 5px 15px;
}

@media (min-width: 770px) {
  .scroll {
    overflow-x: hidden;
  }
  .Weather {
    max-width: 500px;
    margin: 0 auto;
  }
}
